# Generic

**/.dockerignore
**/.git
**/.gitignore
**/bin
**/obj
**/docker-compose*
**/Dockerfile*
README.md

# Log files
*.log

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
# .history/
